html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('images/labyrinthe.jpg') no-repeat center fixed; 
  -webkit-background-size: cover;
  background-size: cover;  
  position: relative;
}

a, a:hover, a:visited, a:link
{
  color: #fff;
  text-decoration: none !important;
}

#maze {
  border:1px solid #666
}

#waiting-players {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
}

#waiting-players div {
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -30%;
  color: #FFF;
  font-size: 4vw;
}

#wrapper-inventory .legend {
  display: inline-block;
  vertical-align: middle;
}

#inventory {
  width: 48px;
  height: 48px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
  background-color: transparent;
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited,
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  color: #fff !important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
{
  background-color: #000;
  color: #fff !important;
}

.ui-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

div[data-role=main] {
  margin: 0 auto;  
  margin-top: 50px;
  position: relative;
}

#configuration > div[data-role=main],
#home > div[data-role=main] {
  width: 700px;
  line-height: 30px;
  text-align:center;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

h2 {
  font-size: 40px;
}

canvas {
  background: 
}

#maze {
  background: url('images/gazon.jpg') no-repeat center fixed;
  border: 10px inset #fff;
  margin: 0 auto;
  display: block;  
}

#personnages {
  margin-top: 50px;
}

#personnages figure {
  float:left;
}

#personnages img{
  width: 70px;
}

#timer {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 130px;
  height: 60px;
  color: #fff;
  font-size: 45px;
  text-align: center;
  background-color: #000;
}

#wrapper-message {
  margin-top: 50px;
}

.game-message {
  font-size: 30px;
}

@keyframes blink {  
    0% { color: red; }
    100% { color: white; }
}

@-webkit-keyframes blink {
    0% { color: red; }
    100% { color: white; }
}

#instances a {
    -webkit-animation: blink 0.8s linear infinite;
    -moz-animation: blink 0.8s linear infinite;
    animation: blink 0.8s linear infinite;
} 

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}